.home-banner {
  background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../assets/img/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
} 
.home-banner h1 {
  font-weight: bold;
  font-size: 4rem;
}

.hero-img  {
  max-width: 100%;
  animation: rotateClockwise 40s linear infinite;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-img {
  height: 500px;
  width: 500px;
}



